# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
* List of languanges
  * Python
  * R
  * Java

## Some of the commonly used libraries used by Data Scientists include:
* List_library
  * pandas
  * pyspark
  * numpy

| Data Science Tools    |
|-----------------------|
| Jupyter Notebook      |
| RStudio               |
| Colab                 |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60.
a = (200//60)
b = (200%60)
print(a, 'hours', b, 'minutes')

3 hours 20 minutes

## **Objectives**
  * Learn how to use Markdown.
  * Learn the basic principles of using notebooks.
  * Learn data science.

## Author
Cl√©rio Julio Fernandes